<!DOCTYPE html>
<html lang="en">

                  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111995277-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111995277-2');
</script>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title><%-found_post.title%></title>
		<link href="/css/luccy.css" rel="stylesheet">
	</head>

	


<!-- showcase -->
  <div class="customContainer" id="showcas">
    <div class="mobileBar wrapperOne">
        <div class="toggler showcaseWrapItemOne">
          <!-- Toggler Goes Here -->
        </div>
        <div class="logo showcaseWrapItemTwo">
          <a href="/">
          <img src="/images/logo2.jpeg" alt="" class="MobileBarBrandingLogo"> </a>
        </div>
        <div class="padlock showcaseWrapItemThree">
          <!-- Padlock Goes Here -->
        </div>
   </div>
   <div class="clr"></div>
  </div>
  <!-- end of showcase -->


<!-- article section -->
<section class="container">
  <div class="blogPostSection">
    <article>

      <h1 class="blogTitle"><%-found_post.title%></h1>
						<div class="author">&copy; <%-found_post.author%></div>
						<!-- <br> -->

			<div class="author"><%-found_post.date%></div>
			<img class="figure" src="<%=found_post.image%>" alt="">

			<br>
			<div class="body"><%-found_post.body%></div>

    </article>
  </div> 
</section>
<!-- end of article section -->
  





<!-- footer -->
<div class="customContainer">
  <div class="footerSection">
    <p>Copyright MQJ &copy; 2020. All rights reserved</p>
    <p>Created by <a href="http://afrocodez.com"><span>Afrocodez</span></a></p>
  </div>
</div>
<!-- end of footer -->  

</body>
</html>