  <div class="container"></div>

  <!-- showcase -->
  <div class="customContainer" id="showcase">
    <div class="mobileBar wrapperOne">
        <div class="toggler showcaseWrapItemOne">
          <!-- Toggler Goes Here -->
        </div>
        <div class="logo showcaseWrapItemTwo">
          <a href="/">
          <img src="/images/logo2.jpeg" alt="Capture by Lucy" class="MobileBarBrandingLogo"> </a>
        </div>
        <div class="padlock showcaseWrapItemThree">
          <!-- Padlock Goes Here -->
        </div>
   </div>
   <div class="clr"></div>
  </div>
  <!-- end of showcase -->


<!-- article section -->
<section class="container">
  <div class="blogPostSection">
    <article>

      <h1 class="blogTitle"><%-found_post.title%></h1>
						<div class="author">&copy; <%-found_post.author%></div>
						<!-- <br> -->

			<div class="author"><%-found_post.date%></div>
			<img class="figure" src="<%=found_post.image%>" alt="">

			<br>
			<div class="body"><%-found_post.body%></div>

    </article>
  </div> 
</section>
<!-- end of article section -->
  

  <div class="commentSection">

  </div>






<!DOCTYPE html>
<html lang="en">

                  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111995277-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111995277-2');
</script>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title><%-found_post.title%></title>
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="/css/jquery.bxslider.css" rel="stylesheet">
		<link href="/css/luccy.css" rel="stylesheet">
	</head>

		


    <div id='simpleModal' class='modal'>
      <div class='modal-content'>
        <div class='modal-header'>
          <span class='closeBtn'>&times;</span>
          <h2>Afrocodez</h2>
        </div>
        <div class='modal-body'>
          <p>Assalaamu 'alaykum..</p>
		  <p>Building a groundbreaking brand never has been a one man's burden. Every successful brand was indeed a result of a few great hands come together. <br> 
			<p> Kolacodes is such an intuitive Muslim software developer and he's our go-to guy. Got a few hiccups with your brand? Speak to Kolacodes. <br>
				<br>
				 With great minds like him you will in no time get your brand to the dreamland, In Shaa Allah</p>
          </p>
        </div>
        <div class='modal-footer'>
          <h3> <a href="https://kolacodes.herokuapp.com">Visit Site</a> </h3>
        </div>
      </div>
    </div>
    <script src='/js/bundle.js'></script>
		

			
 <!-- footer -->
 <div class="customContainer">
	<div class="footerSection">
		<p>Capture by Lucy Backdrops</p>
		<p>Dorset SP7 9PT</p>
		<p>Capture by Lucy® is a registered trademark. </p>
	</div>
</div>
<br>
<!-- end of footer -->  

</body>
</html>